<div id='Vehicles' *ngFor="let item of listVehicles">
  <li>Name : {{item.name}}</li>
  <ul>model : {{item.model}}</ul>
  <ul>manufacturer : {{item.manufacturer}}</ul>
  <ul>costs in credits : {{item.cost_in_credits}}</ul>
  <ul>length : {{item.length}}</ul>
  <ul>max atmosphering speed : {{item.max_atmosphering_speed}}</ul>
  <ul>crew : {{item.crew}}</ul>
  <ul>passengers: {{item.passengers}}</ul>
  <ul>cargo capacity : {{item.cargo_capacity}}</ul>
  <ul>consumables : {{item.consumables}}</ul>
  <ul>class : {{item.vehicle_class}}</ul>
</div>
