<div>
  <footer class="page-footer font-small mdb-color lighten-3 pt-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-12 mb-4">
          <div class="view overlay z-depth-1-half">
            <img src="/assets/image_footer/sw-ep1.png" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 mb-4">
          <div class="view overlay z-depth-1-half">
            <img src="/assets/image_footer/sw-ep2.png" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 mb-4">
          <div class="view overlay z-depth-1-half">
            <img src="/assets/image_footer/sw-ep3.jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4">
          <div class="view overlay z-depth-1-half">
            <img src="/assets/image_footer/sw-ep4.webp" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 mb-4">
          <div class="view overlay z-depth-1-half">
            <img src="/assets/image_footer/sw-ep5.jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 mb-4">
          <div class="view overlay z-depth-1-half">
            <img src="/assets/image_footer/sw-ep6.jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">
      <p>2020 Projet Angular Cree par FERMON Nathan, CARLE Dorian, GALANO Raphaël et CONSTANT Eugene</p>
    </div>
  </footer>
</div>



