 <div id="font galaxie">
  <section id="general">
      <div id="texte">
        <article>
          <a> Bienvenue sur le site Star Wars</a>
          <a> tu cherches à savoir ce qu'il s'est passé durant les films starwars ainsi que ses theories du films.</a>
          <a> C'est ici que cela se passe</a>
          <a> cliquez sur les differents sections pour suivre et savoir toute l'actualité star wars</a>
        </article>
        <img  border="0" src="/assets/darkvadordance.gif">
      </div>
  </section>
</div>




