<div id='Starships' *ngFor='let starship of listStarships'>
  <li>Name: {{starship.name}}</li>
  <ul>model: {{starship.model}}</ul>
  <ul>manufacturer: {{starship.manufacturer}}</ul>
  <ul>costs in credits: {{starship.cost_in_credits}}</ul>
  <ul>length : {{starship.length}}</ul>
  <ul>max atmosphering speed : {{starship.max_atmosphering_speed}}</ul>
  <ul>crew : {{starship.crew}}</ul>
  <ul>passengers : {{starship.passengers}}</ul>
  <ul>cargo capacity : {{starship.cargo_capacity}}</ul>
  <ul>consumables: {{starship.consumables}}</ul>
  <ul>hyperdrive rating: {{starship.hyperdrive_rating}}</ul>
  <ul>MGLT : {{starship.MGLT}}</ul>
  <ul>starships-colors : {{starship.starships_colors}}</ul>
</div>
