<div id='Species' *ngFor='let species of listSpecies'>
  <li>Name: {{species.name}}</li>
  <ul>classification: {{species.classification}}</ul>
  <ul>designation: {{species.designation}}</ul>
  <ul>average height : {{species.average_height}}</ul>
  <ul>skin colors : {{species.skin_colors}}</ul>
  <ul>hair colors : {{species.hair_colors}}</ul>
  <ul>eye colors : {{species.eye_colors}}</ul>
  <ul>average lifespan : {{species.average_lifespan}}</ul>
  <ul>language : {{species.language}}</ul>
</div>
